body {
  background: black;
}

.container {
  background: url("../assets/horizon.jpg") no-repeat center center;
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

.quote-box {
  margin-top: 10vh;
  margin-left: 10vw;
}

#astro {
  margin-left: 60vw;
}

#quote {
  font-family: 'Press Start 2P';
  min-height: 50px;
  color: #eee;
}

#astro:hover {
  cursor: pointer;
}